body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(17, 20, 27), rgb(35, 40, 54));
}


/* ------------navBar------------- */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    width: 700px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 20px;
    border-radius: 10px;
    position: static;
    color: white;
    background-color: rgba(255, 255, 255, 0.09);
}

nav ul li img {
    width: 20px;
    justify-self: center;
    align-self: center;
    margin-right: 10px;
    filter: invert(1);
}

nav ul li {
    width: 150px;
    height: 30px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

nav ul li:hover {
    background-color: rgba(0, 185, 185, 0.305);
}

/* ----------------Add component------------------- */


.add-component{
    background-color: rgba(255, 255, 255, 0.197);
    width: 500px;
    border-radius: 10px;
    position: absolute;
    left: 35%;
    top: 30%;
    box-shadow: 0 0 10px rgb(0, 255, 255);
}

.add-component form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    gap: 20px;
}

.add-component form input{
    width: 400px;
    padding: 10px 10px;
    border-radius: 10px;
    background:transparent;
    outline: none;
    border: 1px solid white;
    color: white ;
}

.add-component form input::placeholder{
    font-weight: 700;
    color: white;
    letter-spacing: 10px;
}

.addBtn {
    background: linear-gradient(to right, rgb(0, 229, 255), rgb(156, 63, 255), rgb(254, 18, 234));
    font-weight: 900;
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 10px;
    border-radius: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.addBtn:active {
    transform: scale(0.85);
}

.addBtn:hover {
    background: linear-gradient(to right, rgb(0, 151, 168), rgb(99, 40, 161), rgb(160, 11, 148));
}
form input{
    font-weight: 800;
}